<div class="itinerary-header">
  <div class="itinerary-info">
    <div class="itinerary-info__title"><%- itinerary.itineraryName %></div>
    <div class="itinerary-info__author">
      By <a href="<%- showUserPath %>">@<%- user.username %></a> | <%- itinerary.startDate %> to <%- itinerary.endDate %>
    </div>
  </div>
  <% if (currentUser && currentUser.id == itinerary.userId) { %>
    <div class="itinerary-edit">
      <a href="<%- editItineraryPath(itinerary) %>" class="itinerary-edit__btn" title="Edit itinerary">
        <img src="<%= assetPath('edit-icon.png') %>">
      </a>
      <form action="<%- deleteItineraryPath(itinerary) %>" method="POST">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="x" />
      </form>
    </div>
  <% } %>
</div>
<div class="itinerary-container">
  <div class="side-info">
    <div class="side-info__image">
      <% if(itinerary.itineraryPicture) { %>
        <img src="<%= itinerary.itineraryPicture %>">
      <% } else { %>
        <img src="<%= assetPath('default-itinerary.png') %>">
      <% } %>
    </div>
    <div class="side-info__budget">
      $ <%- itinerary.budget %> USD
    </div>
    <div class="side-info__labels">
      <% if (destinationsList) { %>
        <% destinationsList.forEach((label) => { %>
          <div class="side-info__labels one-label"><%- label.destinationName %></div>
          <!--
          <form action="<%- deleteDestinationPath(label) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="x" />
          -->
        <% }) %>
      <% } %>
    </div>
    <div class="side-info__score">
        Score: <%- itinerary.avgScore %>
    </div>
  </div>
  <div class="main-info">
    <div class="main-info__description">
        <%- itinerary.description %>
    </div>
    <% if (currentUser && currentUser.id == itinerary.userId) { %>
      <div class="itinerary-edit">
        <a href="<%- newItineraryDayPath(itinerary) %>" class="itinerary-edit__btn" id="add-day" title="Add day">
          + Day
        </a>
        <a href="<%- newDestinationPath %>" class="itinerary-edit__btn" id="add-destination" title="Add destination">
          + Destination
        </a>
        <!--<a href="<%- addDestinationPath %>">Add existing destination</a>-->
      </div>
    <% } %>
    <div class="main-info__content">
      <% if (!daysList.length) { %>
        <p>Ups, there are no days in this itinerary</p>
      <% } else { %>
        <% daysList.forEach((day, index) => { %>
          <div class="day-container">
            <div class="day-container__info">
              <% if(day.dayPicture) { %>
                <div class="day-container__info__header">
              <% } else { %>
                <div class="day-container__info__header-no-pic">
              <% } %>
                Day <%- day.number%>: <%- day.date %>
              </div>
              <% if (currentUser && currentUser.id == itinerary.userId) { %>
                <div class="day-container__info__edit">
                  <a href="<%- editItineraryDayPath(day) %>">edit</a>
                  <form action="<%- deleteItineraryDayPath(day) %>" method="POST">
                    <input type="hidden" name="_method" value="delete" />
                    <input type="submit" value="delete" title="Delete day" />
                  </form>
                </div>
              <% } %>
              <!-- <form action="<%- showItineraryDayPath(day) %>" method="GET">
                <input type="hidden" name="_method" value="show" />
                <input type="submit" value="Show" />
              </form> -->
              <div class="day-container__info__activities">
                <p>Activities for this day:</p>
                <% if (currentUser && currentUser.id == itinerary.userId) { %>
                  <div class="itinerary-edit">
                    <a href="<%- newDayActivityPath(day) %>" class="itinerary-edit__btn" id="add-activity" title="Add activity">
                      + Activity
                    </a>
                    <a href="<%- newDestinationDayPath(day) %>" class="itinerary-edit__btn" id="add-destination" title="Add destination">
                      + Destination
                    </a>
                  </div>
                <% } %>
                <% if (!activitiesList[index].length) { %>
                  No activities
                <% } else { %>
                  <% activitiesList[index].forEach((activity) => { %>
                    <div class="activity-container">
                      <div class="activity-container__title">
                        <%- activity.title %>
                        <% if (currentUser && currentUser.id == itinerary.userId) { %>
                          <div class="day-container__info__edit">
                            <a href="<%- editDayActivityPath(day, activity) %>">edit</a>
                            <form action="<%- deleteDayActivityPath(day, activity) %>" method="POST">
                              <input type="hidden" name="_method" value="delete" />
                              <input type="submit" value="delete" title="Delete day" />
                            </form>
                          </div>
                        <% } %>
                      </div>
                      <div class="activity-container__description">
                        <%- activity.description %>
                      </div>
                    </div>
                  <% }) %>
                <% } %>
              </div>
            </div>
            <div class="day-container__image">
              <% if(day.dayPicture) { %>
                <img src="<%= day.dayPicture %>">
              <% } %>
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>
  </div>
</div>
<% if (currentUser) { %>
  <a href="<%- newReviewPath %>" class="back">New Comment</a>
<% } %>
<div class="review-container">
  <div class="review-container__title">Reviews</div>
  <div class="review-container__info">
      <% reviewsList.forEach((review, index) => { %>
        <div class="review">
          <div class="review__author">
            <div class="review__author__image">
              <img src="<%= assetPath('default-user.png') %>">
            </div>
            <div class="review__author__info">
              <div id="review-username">By @juanita</div>
              <div id="review-score">Score: <%- review.score %></div>
              <div id="review-date"><%- review.reviewDate %></div>
            </div>
          </div>
          <div class="review__comment">
            <%- review.comment %>
          </div>
        </div>
      <% }) %>
  </div>
</div>
<a href="/itineraries" class="back">Back to all itineraries</a>
<h2>Reviews:</h2>
<table id="reviews-list">
  <thead>
      <tr>
        <th>Comment</th>
        <th>Score</th>
        <th>Reviews Date</th>
        <th colspan="3">Actions</th>
      </tr>
  </thead>
  <tbody>
    <% reviewsList.forEach((review) => { %>
      <tr>
        <td><%- review.comment %></td>
        <td><%- review.score %></td>
        <td><%- review.reviewDate %></td>
        <td><a href="<%- editReviewPath(review) %>">Edit</a></td>
        <td>
          <form action="<%- showReviewPath(review) %>" method="GET">
            <input type="hidden" name="_method" value="show" />
            <input type="submit" value="Show" />
          </form>
        </td>
        <td>
          <form action="<%- deleteReviewPath(review) %>" method="POST">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Delete" />
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
