<h2>Itineraries</h2>
  <table id="one-itinerary">
    <thead>
        <tr>
          <th>Name</th>
          <th>Budget</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Description</th>
          <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td><%- itinerary.itineraryName %></td>
          <td><%- itinerary.budget %></td>
          <td><%- itinerary.startDate %></td>
          <td><%- itinerary.endDate %></td>
          <td><%- itinerary.description %></td>
          <td><a href="<%- editItineraryPath(itinerary) %>">Edit</a></td>
          <td><a href="<%- newItineraryDayPath(itinerary) %>">+Day</a></td>
          <td>
            <form action="<%- deleteItineraryPath(itinerary) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
    </tbody>
    <h1>Days in this itinerary</h1>
    <a href="<%- newItineraryDayPath(itinerary) %>">New day</a>
      <% if (!daysList.length) { %>
        <p>No results</p>
      <% } else { %>
        <table id="days-list">
          <thead>
              <tr>
                <th>Number</th>
                <th>Date</th>
                <th colspan="3">Actions</th>
              </tr>
          </thead>
          <tbody>
            <% daysList.forEach((day) => { %>
              <tr>
                <td><%- day.number%></td>
                <td><%- day.date %></td>
                <td><a href="<%- editItineraryDayPath(day) %>">Edit</a></td>
                <td>
                  <form action="<%- showItineraryDayPath(day) %>" method="GET">
                    <input type="hidden" name="_method" value="show" />
                    <input type="submit" value="Show" />
                  </form>
                </td>
                <td>
                  <form action="<%- deleteItineraryDayPath(day) %>" method="POST">
                    <input type="hidden" name="_method" value="delete" />
                    <input type="submit" value="Delete" />
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } %>

  </table>