<div class="itinerary-header">
  <div class="itinerary-info">
    <div class="itinerary-info__title"><%- itinerary.itineraryName %></div>
    <div class="itinerary-info__author">
      By <a href="<%- showUserPath %>">@<%- user.username %></a> | <%- itinerary.startDate %> to <%- itinerary.endDate %>
    </div>
  </div>
  <% if (currentUser && currentUser.id == itinerary.userId) { %>
    <div class="itinerary-edit">
      <a href="<%- editItineraryPath(itinerary) %>" class="itinerary-edit__btn" title="Edit itinerary">
        <img src="<%= assetPath('edit-icon.png') %>">
      </a>
      <form action="<%- deleteItineraryPath(itinerary) %>" method="POST">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="x" />
      </form>
    </div>
  <% } %>
</div>
<div class="itinerary-container">
  <div class="side-info">
    <div class="side-info__image">
      <% if(itinerary.itineraryPicture) { %>
        <img src="<%= itinerary.itineraryPicture %>">
      <% } else { %>
        <img src="<%= assetPath('default-itinerary.png') %>">
      <% } %>
    </div>
    <div class="side-info__budget">
      $ <%- itinerary.budget %> USD
    </div>
    <div class="side-info__labels">
      <div class="side-info__react-destinations" id="react-destinations" value=<%- itinerary.id %></div>></div>
      <% if (destinationsList) { %>
        <% destinationsList.forEach((label) => { %>
          <div class="side-info__labels one-label"><%- label.destinationName %></div>
          <!--
          <form action="<%- deleteDestinationPath(label) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="x" />
          -->
        <% }) %>
      <% } %>
    </div>
    <div class="side-info__score">
      <% if (itinerary.avgScore) { %>
        Score: <%- itinerary.avgScore %>
      <% } else { %>
        Score: No reviews
      <% } %>
    </div>
  </div>
  <div class="main-info">
    <div class="main-info__description">
        <%- itinerary.description %>
    </div>
    <% if (currentUser && currentUser.id == itinerary.userId) { %>
      <div class="itinerary-edit">
        <a href="<%- newItineraryDayPath(itinerary) %>" class="itinerary-edit__btn" id="add-day" title="Add day">
          + Day
        </a>
        <a href="<%- newDestinationPath %>" class="itinerary-edit__btn" id="add-destination" title="Add destination">
          + Destination
        </a>
        <!--<a href="<%- addDestinationPath %>">Add existing destination</a>-->
      </div>
    <% } %>
    <div class="main-info__content">
      <% if (!daysList.length) { %>
        <p>Ups, there are no days in this itinerary</p>
      <% } else { %>
        <% daysList.forEach((day, index) => { %>
          <div class="day-container">
            <div class="day-container__info">
              <% if(day.dayPicture) { %>
                <div class="day-container__info__header">
              <% } else { %>
                <div class="day-container__info__header-no-pic">
              <% } %>
                <div class="day-container__info__title">Day <%- day.number%>: <%- day.date %></div>
              </div>
              <% if (currentUser && currentUser.id == itinerary.userId) { %>
                <div class="day-container__info__edit">
                  <a href="<%- editItineraryDayPath(day) %>">edit</a>
                  <form action="<%- deleteItineraryDayPath(day) %>" method="POST">
                    <input type="hidden" name="_method" value="delete" />
                    <input type="submit" value="delete" title="Delete day" />
                  </form>
                </div>
              <% } %>
              <!-- <form action="<%- showItineraryDayPath(day) %>" method="GET">
                <input type="hidden" name="_method" value="show" />
                <input type="submit" value="Show" />
              </form> -->
              <div class="day-container__info__activities">
                <p>Activities for this day:</p>
                <% if (currentUser && currentUser.id == itinerary.userId) { %>
                  <div class="itinerary-edit">

                    <!-- Trigger/Open The Modal -->

                    <a class="itinerary-edit__btn" id="add-activity" title="Add activity">
                        + Activity
                    </a>
                    <!-- The Modal -->
                    <div id="activityModal" class="modal">
                    <!-- Modal content -->
                        <div class="modal-content">
                            <span class="activityClose">&times;</span>
                            <div class="login-container">
                                <% if (locals.notice) { %>
                                <div class="notice"><%= notice %></div>
                                <% } %>
                                <h2>New Activity</h2>
                                <% if (locals.error) { %>
                                <div class="error">
                                    <%= error %>
                                </div>
                                <% } %>
                                <form action="<%= submitDayActivityPath(day) %>" method="post">
                                    <div class="field">
                                      <label for="title">Title</label>
                                      <input type="text" name="title" value="" />
                                    </div>
                                    <div class="field">
                                      <label for="description">Description</label>
                                      <textarea type="text" name="description"></textarea>
                                    </div>
                                    <div class="field">
                                        <input type="submit" name="create" value="Create" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <a href="<%- newDestinationDayPath(day) %>" class="itinerary-edit__btn" id="add-destination" title="Add destination">
                      + Destination
                    </a>
                  </div>
                <% } %>
                <% if (!activitiesList[index].length) { %>
                  No activities
                <% } else { %>
                  <% activitiesList[index].forEach((activity) => { %>
                    <div class="activity-container">
                      <div class="activity-container__title">
                        <%- activity.title %>
                        <% if (currentUser && currentUser.id == itinerary.userId) { %>
                          <div class="day-container__info__edit">
                            <a href="<%- editDayActivityPath(day, activity) %>">edit</a>
                            <form action="<%- deleteDayActivityPath(day, activity) %>" method="POST">
                              <input type="hidden" name="_method" value="delete" />
                              <input type="submit" value="delete" title="Delete day" />
                            </form>
                          </div>
                        <% } %>
                      </div>
                      <div class="activity-container__description">
                        <%- activity.description %>
                      </div>
                    </div>
                  <% }) %>
                <% } %>
              </div>
              <% if (dayDestinationsList[index].length) { %>
                <div class="day-container__destinations">
                <% dayDestinationsList[index].forEach((dest) => { %>
                  <div class="one-destination"><%- dest.destinationName %></div>
                <% }) %>
                </div>
              <% } %>
            </div>
            <div class="day-container__image">
              <% if(day.dayPicture) { %>
                <img src="<%= day.dayPicture %>">
              <% } %>
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>
  </div>
</div>
<div class="review-container">
  <div class="review-container__title">
    Reviews
    <% if (currentUser) { %>
       <!-- Trigger/Open The Modal -->
       <div>
        <a id="newCommentBtn" class="rate_btn" >¡Rate this itinerary!</a>
      </div>
      <!-- The Modal -->
      <div id="commentModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="commentClose">&times;</span>
          <div class="login-container">
              <% if (locals.notice) { %>
                <div className="notice"><%= notice %></div>
              <% } %>
              <h2>New Review</h2>
              <% if (locals.error) { %>
                <div class="error">
                  <%= error %>
                </div>
              <% } %>
              <form action="<%= submitReviewPath %>" method="post">
                <div class="field">
                  <label for="score">Score</label>
                  <input type="number" name="score" value="" min="0" max="5" />
                </div>
                <div class="field">
                  <label for="comment">Comment</label>
                  <textarea type="text" name="comment" value=""></textarea>
                </div>
                <div class="field">
                    <input type="submit" name="create" value="Create" />
                </div>
              </form>
            </div>
        </div>
      </div>
    <% } %>
    </div>
    <div class="review-container__info">
        <% reviewsList.forEach((review, index) => { %>
          <% user = reviewsUsersList[index] %>
          <div class="review">
            <div class="review__author">
              <div class="review__author__image">
                <a href="/users/<%= review.userId %>">
                  <% if(user.photo) { %>
                    <img src="<%= user.photo %>">
                  <% } else { %>
                    <img src="<%= assetPath('default-user.png') %>">
                  <% } %>
                </a>
              </div>
              <div class="review__author__info">
                <div id="review-username">By <a href="/users/<%= review.userId %>">@<%=user.username%></a></div>
                <div id="review-score">Score: <%- review.score %></div>
                <%
                var date = review.reviewDate;
                var dd = String(date.getDate()).padStart(2, '0');
                var mm = String(date.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = date.getFullYear();

                date = mm + '/' + dd + '/' + yyyy;
                %>
                <div id="review-date"><%= date %></div>
              </div>
            </div>
            <div class="review__comment">
              <% if (currentUser && currentUser.id == user.id) { %>
                <div class="day-container__info__edit">
                  <a href="<%- editReviewPath(review) %>">edit</a>
                  <form action="<%- deleteReviewPath(review) %>" method="POST">
                    <input type="hidden" name="_method" value="delete" />
                    <input type="submit" value="delete" />
                  </form>
                </div>
              <% } %>
              <%- review.comment %>
            </div>
          </div>
        <% }) %>
    </div>
</div>
<div class="back-to-itineraries">
  <a href="/itineraries" class="back">Back to all itineraries</a>
</div>

