<div class="itinerary-header">
  <div class="itinerary-info">
    <div class="itinerary-info__title"><%- itinerary.itineraryName %></div>
    <div class="itinerary-info__author">
      By @<%- itinerary.userId %> | <%- itinerary.startDate %> to <%- itinerary.endDate %>
    </div>
  </div>
  <% if (currentUser && currentUser.id == itinerary.userId) { %>
    <div class="itinerary-edit">
      <a href="<%- editItineraryPath(itinerary) %>" class="itinerary-edit__btn" title="Edit itinerary">
        <img src="<%= assetPath('edit-icon.png') %>">
      </a>
      <form action="<%- deleteItineraryPath(itinerary) %>" method="POST">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="x" />
      </form>
    </div>
  <% } %>
</div>
<div class="itinerary-container">
  <div class="side-info">
    <div class="side-info__image">
      Picture
    </div>
    <div class="side-info__budget">
      $ <%- itinerary.budget %> USD
    </div>
    <div class="side-info__labels">
      <% if (itinerary.labels) { %>
        <% itinerary.labels.forEach((label) => { %>
          <div class="side-info__labels one-label"><%- label %></div>
        <% }) %>
      <% } %>
    </div>
    <div class="side-info__score">
        Score: <%- itinerary.avgScore %>
    </div>
  </div>
  <div class="main-info">
    <div class="main-info__description">
        <%- itinerary.description %>
    </div>
    <% if (currentUser && currentUser.id == itinerary.userId) { %>
      <div class="itinerary-edit">
        <a href="<%- newItineraryDayPath(itinerary) %>" class="itinerary-edit__btn" title="Add day">
          +
        </a>
      </div>
    <% } %>
    <div class="main-info__content">
      <% if (!daysList.length) { %>
        <p>Ups, there are no days in this itinerary</p>
      <% } else { %>
        <% daysList.forEach((day) => { %>
          <div class="day-container">
            <% if (currentUser && currentUser.id == itinerary.userId) { %>
              <div class="day-container__edit">
                <a href="<%- editItineraryDayPath(day) %>">edit</a>
                <form action="<%- deleteItineraryDayPath(day) %>" method="POST">
                  <input type="hidden" name="_method" value="delete" />
                  <input type="submit" value="delete" title="Delete day" />
                </form>
              </div>
            <% } %>
            <div class="day-container__header">
              Day <%- day.number%>: <%- day.date%>
            </div>
            <div class="day-container__image">
              Picture
            </div>
            <form action="<%- showItineraryDayPath(day) %>" method="GET">
              <input type="hidden" name="_method" value="show" />
              <input type="submit" value="Show" />
            </form>
            <div class="day-container__activities">
              Lo ideal sería aquí poner las actividades
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>
  </div>
</div>
