<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="<%= assetPath('logo-plane.png') %>">
    <title>Travel & Plan</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>

  <body>
    <div class="app">
      <div class="header">
        <div class="header__container">
          <div class="header__logo-container">
            <a href="/" class="header__logo">TIP - travel&plan</a>
          </div>
          <div class="header__search-container">
            <form action="<%= searchPath %>">
              <input type="text" placeholder="Search your next destination..." name="search">
              <button type="submit"><img src="<%= assetPath('search-icon.png') %>"></button>
            </form>
          </div>
          <% if (currentUser) { %>
            <div class="header__btn-container">
              <a href="/itineraries/new" class="header__btn" title="Add itinerary">+</a>
            </div>
            <div class="header__menu-container">
              <div class="header__menu-container user-dropdown">
                <button class="header__menu-container user-dropbtn"><img src="<%= assetPath('user-icon.png') %>"></button>
                <div class="header__menu-container user-dropcontent">
                  <% if(currentUser.photo) { %>
                    <img src="<%= currentUser.photo %>">
                  <% } else { %>
                    <img src="<%= assetPath('default-user.png') %>">
                  <% } %>
                  <p>@<%= currentUser.username %></p>
                  <a href="/users/<%= currentUser.id %>">Profile</a>
                  <a href="/users/<%= currentUser.id %>/edit">Settings</a>
                  <form action="<%= destroySessionPath %>" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <input type="submit" value="Logout" />
                  </form>
                </div>
              </div>
            </div>
            <!-- Trigger/Open The Modal -->
            <div class="header__btn-container">
                <a id="myBtn" class="hidden">Log IIn</a>
            </div>
            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <div class="login-container">
                      <% if (locals.notice) { %>
                        <div className="notice"><%= notice %></div>
                      <% } %>
                      <h2>Log In</h2>
                      <% if (locals.error) { %>
                        <div class="error">
                          <%= error %>
                        </div>
                      <% } %>
                      <form action="<%= createSessionPath %>" method="post">
                        <input type="hidden" name="_method" value="put" />
                        <div class="field">
                          <label for="email">Email</label>
                          <input type="email" name="email" value="<%= locals.email %>" />
                        </div>
                        <div class="field">
                          <label for="password">Password</label>
                          <input type="password" name="password" value="<%= locals.password %>" />
                        </div>
                        <div class="field">
                          <input type="submit" name="sign-in" value="Sign In" />
                        </div>
                      </form>
                    </div>
                </div>
              </div>
          <% } else { %>
            <!-- Trigger/Open The Modal -->
            <div class="header__btn-container">
                <a id="myBtn" class="header__btn">Log In</a>
            </div>
            <div class="header__btn-container">
                <a class="header__btn" href="/users/new">Sign Up</a>
            </div>
            <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <div class="login-container">
                    <% if (locals.notice) { %>
                      <div className="notice"><%= notice %></div>
                    <% } %>
                    <h2>Log In</h2>
                    <% if (locals.error) { %>
                      <div class="error">
                        <%= error %>
                      </div>
                    <% } %>
                    <form action="<%= createSessionPath %>" method="post">
                      <input type="hidden" name="_method" value="put" />
                      <div class="field">
                        <label for="email">Email</label>
                        <input type="email" name="email" value="<%= locals.email %>" />
                      </div>
                      <div class="field">
                        <label for="password">Password</label>
                        <input type="password" name="password" value="<%= locals.password %>" />
                      </div>
                      <div class="field">
                        <input type="submit" name="sign-in" value="Sign In" />
                      </div>
                    </form>
                  </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      <div class="app__container">
        <%- body %>
        <!-- Trigger/Open The Modal -->
        <div class="rate-itinerary">
            <a id="newCommentBtn" class="hidden" >Rate!!!</a>
          </div>
          <!-- The Modal -->
          <div id="commentModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="commentClose">&times;</span>
              <div class="login-container">
                  <% if (locals.notice) { %>
                    <div className="notice"><%= notice %></div>
                  <% } %>
                  <h2>New Review</h2>
                  <% if (locals.error) { %>
                    <div class="error">
                      <%= error %>
                    </div>
                  <% } %>
                  <form action="" method="post">
                    <div class="field">
                      <label for="score">Score</label>
                      <input type="number" name="score" value="" min="0" max="5" />
                    </div>
                    <div class="field">
                      <label for="comment">Comment</label>
                      <textarea type="text" name="comment" value=""></textarea>
                    </div>
                    <div class="field">
                        <input type="submit" name="create" value="Create" />
                    </div>
                  </form>
                </div>
            </div>
          </div>
          <!-- Trigger/Open The Modal -->

          <a class="hidden" id="add-activity" title="Add activity">
              + Activity
          </a>
          <!-- The Modal -->
          <div id="activityModal" class="modal">
          <!-- Modal content -->
              <div class="modal-content">
                  <span class="activityClose">&times;</span>
                  <div class="login-container">
                      <% if (locals.notice) { %>
                      <div class="notice"><%= notice %></div>
                      <% } %>
                      <h2>New Activity</h2>
                      <% if (locals.error) { %>
                      <div class="error">
                          <%= error %>
                      </div>
                      <% } %>
                      <form action="" method="post">
                          <div class="field">
                            <label for="title">Title</label>
                            <input type="text" name="title" value="" />
                          </div>
                          <div class="field">
                            <label for="description">Description</label>
                            <textarea type="text" name="description"></textarea>
                          </div>
                          <div class="field">
                              <input type="submit" name="create" value="Create" />
                          </div>
                      </form>
                  </div>
              </div>
            </div>
        <script src="<%= assetPath('app.js') %>"></script>
      </div>
      <div class="footer">
        <div class="footer__container">
            <a href="https://github.com/IIC2513-2019-1/grupo-solcitos" class="footer__solcitos-text">Grupo Solcitos - IIC2513 Tecnologías y Aplicaciones Web 2019-1</a>
        </div>
      </div>
    </div>
  </body>
</html>
