<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="<%= assetPath('logo-plane.png') %>">
    <title>IIC2513 - TIP </title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
    <header>
      <div id="logo">
        <img src="<%= assetPath('logo-plane.png') %>" height="80" width="80" alt="Logo" />
      </div>
    </header>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
