<div class="form-container">
    <% if (locals.errors) { %>
      <div class="errors">
        You need to fix the following errors:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
    <form action="<%= submitItineraryDayPath %>" method="post">
      <% if (!day.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
      <% } %>
      <div class="field">
        <label for="number">Number</label>
        <input type="number" name="number" value="<%= day.number %>" />
      </div>
      <div class="field">
        <label for="date">Date</label>
        <input type="date" name="date" value="<%= day.date %>" />
      </div>
      <div class="field">
        <label for="dayPicture">dayPicture</label>
        <input type="text" name="dayPicture" value="<%= day.dayPicture %>" />
      </div>
      <div class="field">
        <% if (day.isNewRecord) { %>
          <input type="submit" name="create" value="Create" />
        <% } else { %>
          <input type="submit" name="update" value="Update" />
        <% } %>
      </div>
    </form>
  </div>
