<h2>Days</h2>
  <table id="one-day">
    <thead>
        <tr>
          <th>Number</th>
          <th>Date</th>
          <th>Day Picture</th>
          <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td><%- day.number%></td>
          <td><%- day.date %></td>
          <td><%- day.dayPicture%></td>
          <td><a href="<%- editItineraryDayPath %>">Edit</a></td>
          <td>
            <form action="<%- deleteItineraryDayPath %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
    </tbody>
    <a href="<%- itineraryPath %>">Back to Itinerary</a>

  </table>
