<h2>Activity</h2>
  <table id="one-activity">
    <thead>
        <tr>
          <th>Title</th>
          <th>Activity Picture</th>
          <th>Description</th>
          <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td><%- activity.title%></td>
          <td><%- activity.activityPicture %></td>
          <td><%- activity.description%></td>
          <td><a href="<%- editDayActivityPath %>">Edit</a></td>
          <td>
            <form action="<%- deleteDayActivityPath %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
    </tbody>
  </table>

  <a href="<%- dayPath %>">Back to Day</a>
  <a href="<%- itineraryPath %>">Back to Itinerary</a>


