<div class="form-container">
    <% if (locals.errors) { %>
      <div class="errors">
        You need to fix the following errors:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
    <form action="<%= submitUserPath %>" method="post">
      <% if (!user.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
      <% } %>
      <div class="field">
        <label for="username">Username</label>
        <input type="text" name="username" value="<%= user.username %>" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="text" name="email" value="<%= user.email %>" />
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" value="<%= user.password %>" />
      </div>
      <% if (!(user.isNewRecord)) { %>
        <div class="field">
          <label for="birthDate">Birth Date</label>
          <input type="text" name="birthDate" value="<%= user.birthDate %>" />
        </div>
        <div class="field">
          <label for="gender">Gender</label>
          <input type="text" name="gender" value="<%= user.gender %>" />
        </div>
        <div class="field">
          <label for="country">Country</label>
          <input type="text" name="country" value="<%= user.country%>" />
        </div>
        <div class="field">
          <label for="publicName">Public Name</label>
          <input type="text" name="publicName" value="<%= user.publicName %>" />
        </div>
        <div class="field">
          <label for="photo">Photo</label>
          <input type="text" name="photo" value="<%= user.photo %>" />
        </div>
      <% } %>
      <div class="field">
        <% if (user.isNewRecord) { %>
          <input type="submit" name="create" value="Create" />
        <% } else { %>
          <input type="submit" name="update" value="Update" />
        <% } %>
      </div>
    </form>
  </div>
