<div class="user-header">
  <div class="user-image">
    <% if(user.photo) { %>
      <img src="<%= user.photo %>">
    <% } else { %>
      <img src="<%= assetPath('default-user.png') %>">
    <% } %>
  </div>
  <div class="user-info">
    <div class="user-info__name"><%- user.publicName %></div>
    <div class="user-info__username">@<%- user.username %></div>
    <div class="user-info__location">
        <img src="<%= assetPath('pin-icon.png') %>">
        <%- user.country %>
    </div>
    <div class="user-info__score">Score: <%- user.score %></div>
  </div>
  <% if (currentUser && currentUser.id == user.id) { %>
    <div class="user-edit">
        <a href="<%- editUserPath %>" class="user-edit__btn" title="Edit user">
          <img src="<%= assetPath('edit-icon.png') %>">
        </a>
        <form action="<%- deleteUserPath %>" method="POST">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="x" />
        </form>
    </div>
  <% } %>
</div>
<div class="user-content">
  <div class="user-content__header">
      @<%- user.username %>'s trips
  </div>
  <% if(itinerariesList.length == 0) { %>
    <div class="no-itineraries">
      No tienes ningún itinerario, agrega el primero <a href="/itineraries/new">AQUÍ</a>!
    </div>
  <% } %>
  <div class="user-content__itineraries">
    <% itinerariesList.forEach((itinerary) => { %>
      <div class="itinerary-container">
        <a href="<%- showItineraryPath(itinerary) %>"><%- itinerary.itineraryName %></a>
      </div>
    <% }) %>
  </div>
</div>
