<h2>Destinations</h2>
<a href="<%- newDestinationPath %>">New destination</a>
<% if (!destinationsList.length) { %>
  <p>No results</p>
<% } else { %>
  <table id="destinations-list">
    <thead>
        <tr>
          <th>Name</th>
          <th>Picture</th>
          <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
      <% destinationsList.forEach((destination) => { %>
        <tr>
          <td><%- destination.destinationName %></td>
          <td><%- destination.destinationPicture %></td>
          <% if (itinerary) { %>
            <td><a href="<%- editDestinationPath(destination) %>">Edit</a></td>
          <% } else { %>
            <td><a href="<%- addDestinationToItinerary(destination) %>">Add</a></td>
          <% } %>

          <td>
            <form action="<%- showDestinationPath(destination) %>" method="GET">
              <input type="hidden" name="_method" value="show" />
              <input type="submit" value="Show" />
            </form>
          </td>
          <td>
            <form action="<%- deleteDestinationPath(destination) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>
